﻿@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}
<div class="jumbotron" style="background-color: slategrey">
    <h2 class="text-center text-primary">Chat Local</h2>
    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model)
                {
                    string containerClass,
                        timePosition,
                        textAlign,
                        contColor,
                        offset;
                    //if (userName = message.UserName)
                    //{
                    containerClass = "container darker";
                    timePosition = "time-rigth text-light";
                    textAlign = "text-rigth text-withe";
                    contColor = "bg-primary";
                    offset = "col-md-6 offset-md-6";
                    @*}
                            else
                        {
                            containerClass = "container";
                            timePosition = "time-left";
                            textAlign = "text-left";
                            contColor = "bg-light";
                            offset = "";
                        }*@
                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass @contColor">
                                <p class="@textAlign">@message.UserName</p>
                                <p class="@textAlign">@message.Text</p>
                                <span class="@timePosition">@message.When</span>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <div class="col-md-12">
        <form asp-action="Create"
              data-ajax-begin="clearInputField" data-ajax-complete=""
              data-ajax-failure="alert('fail')" data-animation="SendMessage"
              data-ajax="true" data-ajax-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="Text" class="form-control" id="messageText" />
                <div class="form-group">
                    <input type="submit" value="Send" id="submitButton" class="btn btn-group" />
                    <input type="hidden" value="userName" name="username" />
                </div>
            </div>

        </form>
    </div>

</div>


@section scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signrReqhandler.js"></script>
}

